<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="HttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    
    <httpPlatform processPath="C:\path\to\your\venv\Scripts\python.exe"
                  arguments="app.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python_stdout.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="FLASK_ENV" value="production" />
        
        <environmentVariable name="FLASK_SECRET_KEY" value="\sH(217SZD+>E57\Sf|Xskj<Z5u7/9rMW*mD.+bF^=z-OlSdt5" />
        
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>