{% extends "admin_layout.html" %}

{% block title %}Gerenciar Sala{% endblock %}
{% block page_title %}Gerenciar Sala{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <form method="POST">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome da Sala</label>
                <input type="text" id="nome" name="nome" value="{{ sala.nome if sala else '' }}" class="form-control" required>
            </div>
            
            <div class="mt-4 text-end">
                <a href="{{ url_for('main.salas_list') }}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}